* {
  font-family:"Kumbh Sans", sans-serif;

}


body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
 overflow-x: hidden;
 scroll-behavior: smooth;
}



.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  display: block;
  margin-bottom: 20px;
}
.menu-items {
  display: inline-flex;

  max-width: 30%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 5px;
  
}
li {
  padding-right: 10px;
  
  cursor: pointer;
}

.right-side {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 75vw;
}
.cart-logo {
  margin-bottom: 15%;
  padding-right:25px;

}
.right-side > img:last-of-type {
  padding-left: 30px;
}
.body {
  display: flex;
}
.image {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#image-main {
  padding-right: 8px;
  padding-top: 4px;
}
.images {
  width: 80%;
  max-width: 60%;
  padding-right: 6%;
  padding-top: 7%;
}
.text {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  padding-top: 15%;
}
.title {
  color: orange;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
}
.main-text {
  padding: 0px;
  margin: 0px;
}
.paragraph {
  color: grey;
  max-width: 50%;
}
.price {
  font-weight: 700;
  font-size: 20px;
  display: inline;
  padding-right: 10px;
}
.sale {
  background-color: rgb(252, 227, 182);
  color: orange;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  max-width: 30px;
  display: inline;
}
.old-price {
  color: rgb(230, 230, 230);
  font-size: 13px;
  padding: 0px;
  margin: 8px;
  text-decoration: line-through;
  font-weight: 500;
}
.storage {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.plus,
.minus {
  cursor: pointer;
  padding: 0px 20px;
}
.changeable-text {
  display: inline;
  font-size: 20px;
  font-weight: 500;
}
.minus {
  padding-bottom: 3px;
}
.add-to-card {
  display: inline;
  background: orange;
  color: white;
  padding: 10px 150px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
}
.card-button {
  width: 20px;
}
.text-add-to-cart {
  display: inline;
  font-weight: 600;
  font-size: 14px;
}
.image-active {
  width: 450px;
  height: 500px;
  border-radius: 15px;
  cursor: pointer;
  padding-right: 8px;
}
.cart {
  position: absolute;
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgb(185, 185, 185);
  border-radius: 10px;
  max-width: 400px !important;
  height: 100%;
  max-height: 200px;
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
  margin-left: 50%;
  display:none;
}
.main-cart-text {
  padding: 0px 20px;
}
.hr {
  max-width: 90%;
  opacity: 0.1;
}

.cart-text {
  text-align: center;
  padding-top: 30px;
  color: grey;
  
  
}
.cart-item {
display: none;
}

.cart-image {
  padding: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
}
.main-text {
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  color: grey;
  margin-top: 10px;
  display: block;
}
.old-price-cart {
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 100px;
  top: 95px;
}
.icon-delete-cart {
  position: absolute;
  left: 85%;
  top: 50%;
  cursor: pointer;
  
}
.check-cout-cart {
  padding: 10px 110px;
  background-color: orange;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;

  margin-left: 50px;
  margin-top: 8px;
  cursor: pointer;
  display:none;
}
.menu1:hover {
  border-bottom: 3px solid orange;
}
.storage-cart{
  display: inline-block;
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 160px;
  top: 95px;

}
.final-price {
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 180px;
  top: 95px;

}
.profile-photo-2{
  display:inline-flex;
  
}
.profile-photo-2:hover{
  border:2px solid orange !important;
  border-radius:50%;
}


ul li:hover, 
ul li:focus {
  border-bottom:2px solid orange;


}
.header{
  border-bottom: 1px solid grey;
  padding-bottom:10px;
  
 width:100%;
 max-width:100%;
 

}
.notification{
  width:15px;
  height:15px;
  border-radius:50%;
  background-color: orange;
  display:inline-flex;
  position:absolute;
  left:35%;
  top:10%;
  display:none;
  padding:0px 0px 0px 0px; 
font-size:15px;
  
  color:black;
  
}
.image{
  padding-right:10px;
  padding-top:5px;
}
.image:hover{
  opacity:0.5;
}
.add-to-card:hover{
  opacity:0.5;
}