* {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  display: block;
  margin-bottom: 20px;
}
.menu-items {
  display: inline-flex;

  max-width: 30%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 5px;
}
li {
  padding-right: 20px;

  cursor: pointer;
}

.right-side {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 75vw;
}
.cart-logo {
  margin-bottom: 15%;
  padding-right: 25px;
}
.right-side > img:last-of-type {
  padding-left: 30px;
}
.body {
  display: flex;
}
.image {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#image-main {
  padding-right: 8px;
  padding-top: 4px;
}
.images {
  width: 80%;
  max-width: 60%;
  padding-right: 6%;
  padding-top: 7%;
}
.text {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  padding-top: 15%;
}
.title {
  color: #ff7d1a;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
}
.main-text12 {
  padding: 0px;
  margin: 0px;
  font-size: 45px !important;
  color: black !important;
  width: 100% !important;
  max-width: 50% !important;
}
.paragraph {
  color: grey;
  max-width: 40%;
}
.price {
  font-weight: 700;
  font-size: 20px;
  display: inline;
  padding-right: 10px;
}
.sale {
  background-color: rgb(252, 227, 182);
  color: #ff7d1a;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  max-width: 30px;
  display: inline;
}
.old-price {
  color: rgb(214, 212, 212);
  font-size: 13px;
  padding: 0px;
  margin: 8px;
  text-decoration: line-through;
  font-weight: 700;
}
.storage {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.plus,
.minus {
  cursor: pointer;
  padding: 0px 20px;
}
.changeable-text {
  display: inline;
  font-size: 20px;
  font-weight: 500;
}
.minus {
  padding-bottom: 3px;
}
.add-to-card {
  display: inline;
  background: #ff7d1a;
  color: white;
  padding: 15px 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
}
.card-button {
  width: 20px;
}
.text-add-to-cart {
  display: inline;
  font-weight: 600;
  font-size: 14px;
}
.image-active {
  width: 450px;
  height: 450px;
  border-radius: 15px;
  cursor: pointer;
  padding-right: 8px;
}
.cart {
  position: absolute;
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgb(185, 185, 185);
  border-radius: 10px;
  max-width: 400px !important;
  height: 100%;
  max-height: 200px;
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
  margin-left: 50%;
  display: none;
}
.main-cart-text {
  padding: 0px 20px;
}
.hr {
  max-width: 90%;
  opacity: 0.1;
}

.cart-text {
  text-align: center;
  padding-top: 30px;
  color: grey;
}
.cart-item {
  display: none;
}

.cart-image {
  padding: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
}
.main-text {
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  color: grey;
  margin-top: 10px;
  display: block;
}
.old-price-cart {
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 100px;
  top: 95px;
}
.icon-delete-cart {
  position: absolute;
  left: 85%;
  top: 50%;
  cursor: pointer;
}
.check-cout-cart {
  padding: 10px 110px;
  background-color: #ff7d1a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  max-width: 30%;
  text-align: center;
  margin-left: 35px;
  margin-top: 8px;
  cursor: pointer;
  display: none;
}
.menu1:hover {
}
.storage-cart {
  display: inline-block;
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 160px;
  top: 95px;
}
.final-price {
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 180px;
  top: 95px;
}
.profile-photo-2 {
  display: inline-flex;
}
.profile-photo-2:hover {
  border: 2px solid #ff7d1a !important;
  border-radius: 50%;
}

ul li:hover,
ul li:focus {
}
.header {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;

  width: 100%;
  max-width: 100%;
}
.notification {
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  padding-left: 5px;
  border-radius: 50%;
  background-color: #ff7d1a;
  display: inline-flex;
  position: absolute;
  left: 35%;
  top: 10%;
  display: none;

  font-size: 15px;

  color: rgb(255, 255, 255);
}
.image {
  padding-right: 10px;
  padding-top: 5px;
}
.image:hover {
  opacity: 0.5;
}
.add-to-card:hover {
  opacity: 0.5;
}
ul li {
  padding: 10px !important;
  position: relative !important;
}
ul li::after {
  content: "" !important;
  height: 5px !important;
  width: 100px !important;
  background: orange !important ;
  border-radius: 10px !important;
  position: absolute !important;
  bottom: -5px !important;
  right: 0% !important;
  display: none;
  transition: 0.3s !important;
}
ul li:hover::after {
  display: block;
  width: 100% !important;
  left: 0% !important;
  top: 170%;
}
.toggle-button {
  position: absolute;
  top: 1.5%;
  right: 93%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  body {
    margin-left: 4%;
    margin-right: 0%;
  }
  .add-to-card {
    display: block;

    max-width: 15%;
    margin-left: -0%;
    margin-top: 2%;
  }
}
@media screen and (max-width: 860px) {
  .body {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
  }
  .images {
    display: block;
    max-width: 60%;
  }
  ul {
    display: none;
  }
  .add-to-card {
    display: inline-block;
  }
  #test-text {
    max-width: 100%;
    width: 500000%;
    font-size: 20px;
  }
  .paragraph {
    max-width: 80%;
  }
  .toggle-button {
    display: flex;
  }
  li {
display:none;
  }
  .menu-items{
    flex-direction: column;
    margin-right:70%;
    margin-top:10%;
    margin-left:0%;
    padding-left:0%;
    
  }
  .logo-main {
    margin-left: 15%;
    
  }
  .right-side {
   top:3.2%;
   left:30vw;
    
    display:block;
   
    
    

    }

  .profile-photo {
    position: relative;
    bottom: 10px;
  }
  .header {
   padding-bottom:0px;
  margin-top:7%;
  margin-bottom:-10px;
  display: block;
  max-width:55%;
  }
  .cart {
    bottom: 80%;
    right: 25%;
  }
  .active {
    display:flex;
  }
}
